.position-searchFrom-warp{
    margin-top: 20px;
    margin-bottom: 20px;
}
.searchFrom-warp{
    height: fit-content;
    margin: auto;
    width: fit-content;
    border-style: solid;
    border-color: gainsboro;
    box-shadow: gainsboro;
    text-align: left;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}
.searchFrom-warp table td{
    padding-right: 10px;
    padding-bottom: 10px;
}

.SelectNumberPeople form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
  }
  
  .SelectNumberPeople  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: top;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .SelectNumberPeople .value-button:hover {
    cursor: pointer;
  }
  
  .SelectNumberPeople form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  .SelectNumberPeople form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  .SelectNumberPeople form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  .SelectNumberPeople input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  .SelectNumberPeople input[type=number]::-webkit-inner-spin-button,
  .SelectNumberPeople input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }