.booking-position{
    margin: auto;
    padding-top: 20px;
}
.booking-position .booking-wrap{
    margin: auto;
    width: 1000px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: gainsboro;
    box-shadow: 5px gainsboro;
    padding-top: 20px;
    padding-bottom: 20px;
}
.booking-wrap .progcess table{
    width: 1000px;
    color: gainsboro;
}
.booking-wrap .progcess table .spacing{
    width: 70px;
    border: none;
    height: 3px;
    background-color: gainsboro; 
}
.booking-wrap .progcess table .active{
    color:#3380E6;
}
.booking-wrap .progcess table .activeSPC {
    width: 70px;
    border: none;
    height: 3px;
    background-color:#3380E6;
}
.booking-wrap .progcess table .done{
    color:#2ae419cc;
}
.booking-wrap .progcess table .doneSPC {
    width: 70px;
    border: none;
    height: 3px;
    background-color:#2ae419cc;
}
.booking-wrap .inputZone{
    width: 700px;
    margin:auto;
}
.booking-wrap .inputZone .title{
    font-size: x-large;
    color: #3380E6;
    font-weight: bold;
}
.booking-wrap .inputZone .check{
    text-align: left;
}
.booking-wrap .inputZone .check-input{
    margin-left: 20%;
}
.booking-wrap .inputZone .check-input td{
    text-align: right;
}
.booking-wrap .inputZone .check-input th{
    text-align: left;
}
.booking-wrap .paypal{
    width: fit-content();
    margin-left: 40%;
}
.voucher-card{
    padding: 10px;
    margin: 10px;;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    background-color: #3380E6;
    color: white;
}