.lsApartments .mainListApm{
    margin-left: 35%;
    margin-top: -560px;
    width: 50%;
}
.lsApartments .search .box{
    /*padding-left: 10px;*/
    padding-left: 15%;
    padding-top: 30px;
}
.lsApartments .search .bar{
    padding-left: 15%;
    padding-top: 50px;
}