.lsApartments .mainListApm{
    margin-left: 300px;
    margin-top: 0px;
}
.lsApartments .search .box{
    padding-left: 10px;
    padding-top: 30px;
}
.lsApartments .search .bar{
    padding-left: 10px;
    padding-top: 50px;
}